.footer {
    gap: 7.5rem;
    padding: 3rem;
}

    .footer__descr {
        width: 20rem;
        font-size: 1rem;
        color: #EFEFEF80;
    }

    .footer__one-grid,
    .footer__two-grid {
        display: grid;
        gap: .5rem 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    .footer__two-grid {
        grid-template-columns: 1fr 1fr;
    }

        .footer__subtitle .title {
            margin-bottom: 1.25rem;
        }

        .footer__subtitle .line,
        .footer__subtitle .large-line {
            height: 1px;
            width: 15rem;
            background: #EFEFEF;
            margin-bottom: 1.5rem;
        }

        .footer__subtitle .large-line {
            width: 25rem;
        }