@media (min-width: 1920px), (max-width: 1920px) {
    .header {
        height: clamp(25dvh, 904px, 100dvh);
    }

        .header__shortcut {
            width: clamp(15dvw, 468px, 25dvw);
        }
}

@media (max-width: 1080px) {
    .header {
        height: clamp(25dvh, 504px, 100dvh);
    }

        .header__shortcut {
            display: none;
        }
}

@media (max-width: 720px) {    
    .nav-bar__ham,
    .ham-exit-btn {
        display: block;
    }

    .ham-exit-btn {
        fill: #fff;
    }

    .nav-bar__ham {
        margin: 1rem;
    }

    .nav-bar__links {
        display: block;
        position: absolute;
        z-index: -1;
        padding: 4rem;

        opacity: 0;
        background: rgba(0, 0, 0, 0.9);
    }

    .links__item a {
        font-size: 1.5rem;
    }

    .nav-bar__links > *:not(:last-child) {
        margin-bottom: .5rem;
    }
        
        .ham-exit-btn {
            position: absolute;
            top: 4rem;
            right: 4rem;
        }

    .nav-bar__links--active {
        z-index: 1;
        opacity: 1;
    }
}

@media (max-width: 480px) {
    .preview__title {
        font-size: 2rem;
    }
}