@import url("./fonts.css");
@import url("./media.css");
@import url("./utils.css");
@import url("./normalization.css");

@import url("./for-blocks/header/style.css");
@import url("./for-blocks/header/media.css");

@import url("./for-blocks/main/style.css");
@import url("./for-blocks/main/media.css");

/* debug */
.adaptive {
    display: none;
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-bottom-right-radius: 50%;
}