/* Desktop: 1920 x 1080
Notepad: 1440 x 900
Large tablet: 1024 x 768
Tablet: 800 x 600 
Mobile: 360 x 760 */

@media (min-width: 1920px), (max-width: 1920px) {
    .adaptive {
        background: red;
    }

    .header {
        height: clamp(75dvh, 904px, 100dvh);
    }

        .header__shortcut {
            width: clamp(15dvw, 468px, 25dvw);
        }
    
    html {
        font-size: 18px;
    }
}

@media (max-width: 1440px) {
    .adaptive {
        background: orange;
    }

    html {
        font-size: 14px;
    }
}

@media (max-width: 1080px) {
    .adaptive {
        background: yellow;
    }

    .header {
        height: clamp(25dvh, 504px, 100dvh);
    }

        .header__shortcut {
            display: none;
        }

    html {
        font-size: 12px;
    }
}

@media (max-width: 720px) {
    .adaptive {
        background: green;
    }
    
        .nav-bar__ham,
        .ham-exit-btn {
            display: block;
        }

            .ham-btn:active svg {
                scale: 1.25;
            }

        .nav-bar__links {
            display: block;
            position: absolute;
            height: 100%;
            background: rgba(0, 0, 0, 0.9);
            
            opacity: 0;
            z-index: -1;

            padding: 4rem;
            font-size: 1.5rem;
        }

        .nav-bar__links > *:not(:last-child) {
            margin-bottom: .5rem;
        }
           
            .ham-exit-btn {
                position: absolute;
                top: 0;
                right: 0;
            }

        .nav-bar__links--active {
            z-index: 1;
            opacity: 1;
        }

        .nav-bar__login {
            width: fit-content;
        }

    html {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .adaptive {
        background: lime;
    }

    .preview__title {
        font-size: 2rem;
    }
}