*,
*::before,
*::after {
    user-select: none;

    -webkit-tap-highlight-color: transparent;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    outline: none;
    border: none;

    list-style: none;
    text-decoration: none;
    font-family: Montserrat;

    color: inherit;
}

h1, h2, h3, h4 {
    letter-spacing: .1rem;
    text-wrap: balance;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4, p {
    font-size: 1.25rem;
}

a, button {
    font-size: 1rem;
}