/* Утилитарные (структурные) классы */

.no-shrink {
    flex-shrink: 0;
}

.circle {
    width: .5rem;
    height: .5rem;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.circle--chosen {
    background: #fff;
}

.large-circle {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

.h-self {
    height: fit-content;
}

.w-self {
    width: fit-content;
}

.horizontal-line {
    width: 3rem;
    height: 3px;
}

.pretty-text {
    text-wrap: balance;
}

.rounded {
    border-radius: .35rem;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.smooth {
    transition: .25s ease;
}

.pointer {
    cursor: pointer;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.icon {
    width: 3rem;
    height: 3rem;
    transition: .1s ease;
}

    .icon--white {
        fill: #fff;
        background: transparent;
    }

    .icon--white:focus {
        fill: #fff;
        background: #194DD2;
    }

.circled-btn {
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.white-bordered {
    border: 1px solid #fff;
}

.high-line {
    line-height: 150%;
}

.text-spaced {
    letter-spacing: .05rem;
}

/* Утилитарные (внешний вид) классы с псевдоклассами */

.bg-dark {
    fill: #fff;
    color: #fff;
    background: #000;
}

.bg-light {
    background: #fff;   
    color: #194DD2;
}

    .bg-light:hover,
    .bg-light:active {
        background: #194DD2;   
        color: #fff;
    }

.bg-blue {
    fill: #fff;
    color: #fff;
    background: #194DD2;
}

    .bg-blue:hover,
    .bg-blue:active {
        fill: #fff;
        color: #fff;
        background: #000;
    }

.bg-trans {
    background: transparent;
}

.bg-trans:hover,
.bg-trans:active {
    color: #fff;
    background: #194DD2;
    border: 1px solid transparent;
}