/* For elements */

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.w-self {
    width: fit-content;
}

.h-self {
    height: fit-content;
}

.box-shadow {
    box-shadow: 0px 0px 40px 0px rgba(34, 60, 80, 0.2);
}

    .box-shadow:hover {
        box-shadow: 0px 0px 40px 0px rgba(34, 60, 80, 0.35);
    }

.white-bordered {
    border: 1px solid #fff;
}

.rounded {
    border-radius: .35rem;
}

.smooth {
    transition: .25s ease;
}

.pointer {
    cursor: pointer;
}

/* Custom elements */

.horizontal-line {
    width: 3rem;
    height: 3px;
}

.circle {
    width: .5rem;
    height: .5rem;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.circle--chosen {
    background: #fff;
}

.large-circle {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

.icon {
    width: 3rem;
    height: 3rem;
    transition: .1s ease;
}

    .icon--white {
        fill: #fff;
        background: transparent;
    }

.circled-btn {
    padding: 1rem 2rem;
    border-radius: 2rem;
}

/* Flexbox */

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.flex-justified {
    justify-content: center;
}

.flex-aligned {
    align-items: center;
}

.no-shrink {
    flex-shrink: 0;
}

/* Background */

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-dark {
    color: #fff;
    background: #000;
}

.bg-light {
    color: #194DD2;
    background: #fff;   
}

    .bg-light:hover {
        background: #194DD2;   
        color: #fff;
    }

.bg-blue-static {
    color: #fff;
    background: #194DD2;
}

.bg-blue,
.bg-blue-alt {
    color: #fff;
    background: #194DD2;
}

    .bg-blue-alt:hover {
        color: #000;
        background: #fff;
    }

    .bg-blue:hover {
        color: #fff;
        background: #000;
    }

.bg-trans,
.bg-trans-alt {
    background: transparent;
}

    .bg-trans-alt:hover {
        color: #000;
        background: #fff;
        border: 1px solid transparent;
    }

    .bg-trans:hover {
        color: #fff;
        background: #194DD2;
        border: 1px solid transparent;
    }

/* Text formatting */

.high-line {
    line-height: 150%;
}

.text-spaced {
    letter-spacing: .05rem;
}

.text-centered {
    text-align: center;
}

.text-1rem {
    font-size: 1rem;
}

.text-125rem {
    font-size: 1.25rem;
}

.text-175rem {
    font-size: 1.75rem;
}

.text-2rem {
    font-size: 2rem;
}

.text-3rem {
    font-size: 3rem;
}

.bold-text {
    font-weight: bold;
}

.pretty-text {
    text-wrap: balance;
}

/* Text colors */

.blue {
    color: #194DD2;
}

.white {
    color: #fff;
}